@media screen and (max-width: 100%) {

  }
body{
    background-color: #b0e9fc;
}
ul{
    list-style: none;
}
button{
    color: white;
    background-color: green;
    border: none;
    border-radius: 40px;
}
.delete-burger{
    background-color: red;
}
.burgerImg{
    width: 300px;
}
.container{
    width: 75%;
}
.title{
    font-family: 'Pacifico', cursive;
    color: red;
    padding: 20px;
}

.burgers, .addBurger{
    font-family: 'Chewy', cursive;
}
#ca{
    border: none;
    border-radius: 40px;  
}